PORT=<Enter Port Number Here>
MONGODB_URI=<Enter MongoDB URI Here>
MAIL_USER=<Enter Email Here>
MAIL_PASS=<Enter Email APP Password Here "see youtube how to create an app password"> 





// Note: Replace the placeholders with your actual port number and MongoDB URI.
//create an .env file in the root directory of your project and copy this content into it.